body {
    font-family: 'Roboto Mono', monospace;
}

.gridContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #a3b0b5;
}

.selectedCell {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #323638;
}